.circle {
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 50px;
    background-color: #ececec;
}

.circle.first-player {
    background-color: #4650c4;
}

.circle.second-player {
    background-color: #d54040;
}